fastapi
uvicorn
langserve==0.3.0
langchain==0.3.13
langchain-core==0.3.28
langchain-community==0.3.13
langchain-openai==0.2.14
python-dotenv==1.0.1
fastapi
langchain-ai21
wikipedia
agno
lxml
langchain-huggingface
langchain-groq
arxiv
langgraph
langgraph-cli[inmem]
duckduckgo-search
ollama
lancedb
tantivy
pypdf
streamlit
pandas
yfinance
sqlalchemy
fastapi[standard]
exa-py